@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 8s linear infinite;
  --animate-spin-slow-reverse: spin-reverse 8s linear infinite;

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}